body{
    background-color:#d0ece7 ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
.container{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
    background-color: white;
    height: 70%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    
}
.imgLogo{
    float: right;
    margin-right    : 40px;
    height: 140px;
}
.btn{
    margin: 10px;
    background-color:#16a085;
    border-radius: 10px;
    border: 0;
    width: 25%;
    height: 50px;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size:16px;
    margin-bottom: 40px;
}
.errMessage{
    height: 40px;
    width: 70%;
    font-size: 20px;
    margin-left: 5%;
    border-radius: 10px;
    padding-top: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.intbox{
    font-size:16px;
    height: 40px;
    width: 70%;
    margin-top: 10px;
    margin-left: 3%;
    margin-right: 50%;
    border-style: solid;
    border-width: 2px;
    padding: 2px;   
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.regDets{
    text-align: left;
    padding-top: 10px;
    padding-left: 30px;
}
.btns{
    margin-right: 20%;
}